// styles/scss/_buttons.scss

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 44px 88px;
  max-width: 100%;

  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;

  border-radius: 100px;
  background: rgba(255, 255, 255, 0.05);

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.18px;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: 1024px) {
    display: inline-flex;
    width: auto;
    padding: 32px 48px;
  }

  @media (max-width: 768px) {
    display: inline-flex;
    width: auto;
    padding: 24px 40px;
    letter-spacing: 0.12px;
  }

  &--white {
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    box-shadow: -4px -4px 18px 0 rgba(0, 126, 58, 0.7) inset;
    color: rgba(255, 255, 255, 0.8);

    &:hover {
      border: 0.5px solid rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 36px 0 rgba(0, 126, 58, 0.7) inset;
      color: rgba(255, 255, 255, 0.8);
      text-shadow: 0 0 12px rgba(255, 255, 255, 0.25);
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &--green {
    border: 1px solid rgba(0, 126, 58, 0.5);
    box-shadow: -4px -4px 18px 0 rgba(0, 126, 58, 0.3) inset;
    color: rgba(0, 126, 58, 0.7);

    &:hover {
      box-shadow: 0 0 36px 0 rgba(0, 126, 58, 0.3) inset;
      text-shadow: 0 0 12px rgba(0, 126, 58, 0.15);
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
  }
}
