.faq {
  background-color: #ffffff;
  padding: clamp(2.25rem, -0.32rem + 4.02vw, 4.5rem) 0;
  /* МАГИЯ ЭФФЕКТА: */
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  @media (max-width: 1024px) {
    /* Tablet to Mobile: 36px (2.25rem) -> 24px (1.5rem) */
    /* Формула для 1024px -> 320px */
    padding: clamp(1.5rem, 1.16rem + 1.7vw, 2.25rem) 0;
  }
  &__title {
    font-family: "Benzin", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    line-height: 1.4;
    margin-bottom: clamp(2.25rem, 1.36rem + 1.85vw, 3.25rem);
    font-size: 2rem;

    @media (max-width: 1024px) {
      font-size: clamp(1.25rem, 0.96rem + 1.02vw, 2rem);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;

    @media (max-width: 1024px) {
      gap: clamp(1.125rem, 1.05rem + 0.26vw, 1.275rem);
    }
  }

  &__item {
    background-color: #f8f8f8;
    border-radius: 1.75rem;
    overflow: hidden;
    transition: background-color 0.3s ease;

    @media (max-width: 1024px) {
      border-radius: clamp(1.125rem, 0.95rem + 0.6vw, 1.75rem);
    }
  }

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    cursor: pointer;
    background: transparent;
    padding: clamp(2rem, 1.11rem + 1.85vw, 3rem);

    @media (max-width: 1024px) {
      padding: clamp(1.125rem, 0.73rem + 1.39vw, 2rem);
    }
  }

  &__question {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #000;
    font-size: clamp(1.5rem, 1.06rem + 0.93vw, 2rem);
    line-height: 1.2;
    padding-right: 1rem;

    @media (max-width: 1024px) {
      font-size: clamp(1.125rem, 1.02rem + 0.38vw, 1.75rem);
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: #009746;
    border-radius: 0.75rem;
    width: 2.5rem;
    height: 2.5rem;
    transition: transform 0.3s ease;

    @media (max-width: 1024px) {
      width: clamp(2.125rem, 2.05rem + 0.26vw, 2.5rem);
      height: clamp(2.125rem, 2.05rem + 0.26vw, 2.5rem);
      border-radius: clamp(0.5rem, 0.43rem + 0.26vw, 0.75rem);
    }
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    @media (max-width: 768px) {
      width: 0.8rem;
      height: 0.8rem;
    }
  }

  &__body {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__content {
    overflow: hidden;
  }

  &__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 1.4;
    padding: 0 clamp(2rem, 1.11rem + 1.85vw, 3rem)
      clamp(2rem, 1.11rem + 1.85vw, 3rem);
    font-size: 1.5rem;

    @media (max-width: 1024px) {
      font-size: clamp(0.875rem, 0.7rem + 0.63vw, 1.25rem);
      padding: 0 clamp(1.125rem, 0.73rem + 1.39vw, 2rem)
        clamp(1.125rem, 0.73rem + 1.39vw, 2rem);
    }
  }

  &__item--active {
    .faq__toggle {
      background-color: #009746;
    }

    .faq__icon {
      transform: rotate(45deg);
    }

    .faq__body {
      grid-template-rows: 1fr;
    }
  }
}
