// styles/scss/_fonts.scss

// --- Montserrat ---

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; // Хорошая практика для быстрой загрузки текста
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// --- Benzin ---

@font-face {
  font-family: "Benzin";
  src: url("../../fonts/Benzin-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Benzin";
  src: url("../../fonts/Benzin-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Обрати внимание: для Bold файла я ставлю вес 700,
// но имя семьи оставляю 'Benzin'. Так ты сможешь менять жирность через font-weight.
@font-face {
  font-family: "Benzin";
  src: url("../../fonts/Benzin-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
